/*   nav bar & menu styles */

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 32px;
}


/* added styles today for nav buttons */
 @media (min-width: 640px) {
  .nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.nav__button {
  width: 100%;
  font-size: 18px; 
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  background-color: white;
  color: #1e293b;
  border: none;
  cursor: pointer;
}
